<nav class="navbar navbar-expand-lg ">
  <div class="container">
    <a class="navbar-brand" href="index.html">Clue Apps</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-nav" aria-controls="probootstrap-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="probootstrap-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a [routerLink]="['']" class="nav-link">Home</a></li>
        <li class="nav-item"><a [routerLink]="['/product']" class="nav-link">Product Page</a></li>
     
      </ul>
     
    </div>
  </div>
</nav>